/* Fake Lazy Loading */

/* ! Fake Lazy Loading Jugad 😂😃 */
.overflowHidden {
  overflow: hidden;
  animation: overflowAutoAnimation 1s linear forwards;
  animation-delay: 3s;
}

@keyframes overflowAutoAnimation {
  100% {
    overflow: auto;
  }
}

.ShowContent {
  opacity: 0;
  visibility: hidden;
  animation: showContentAnimation 1s linear forwards;
  animation-delay: 3s;
}
@keyframes showContentAnimation {
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: transparent;
  height: 100vh;
  height: 100dvh;
  visibility: visible;
  opacity: 1;
  animation: hideLoader 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes hideLoader {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

#loader svg {
  height: clamp(10rem, 20vw + 1rem, 20rem);
  width: auto;
  stroke-width: 20;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#loader .dash {
  animation: dashArray 2s ease-in-out infinite, dashOffset 2s linear infinite;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

#loader .gradient-b {
  stroke: url(#b);
}

#loader .gradient-c {
  stroke: url(#c);
}

#loader .gradient-d {
  stroke: url(#d);
}